.twoCols .rdrMonth {
  font-size: larger;
  font-weight: semibold;
}

.threeCols .rdrMonth {
  font-size: larger;
  font-weight: semibold;
}

.rdrMonth {
  width: 100%;
}

.twoCols .rdrCalendarWrapper,
.threeCols .rdrCalendarWrapper {
  width: 100% !important;
  max-width: 100%;
}

.twoCols .rdrDayNumber span {
  font-size: 14px;
}

.threeCols .rdrDayNumber span {
  font-size: 14px;
}

.rdrDateDisplay {
  font-size: 14px;
  font-weight: semibold;
}

/* Calendar.css */
.twoCols .rdrCalendarWrapper {
  height: 46vh !important;
}

.threeCols .rdrCalendarWrapper {
  height: 46vh !important;
}

.calendar-small .rdrCalendarWrapper {
  height: 40vh !important;
}

/* Optional enhancements */
.rdrDateDisplay {
  font-size: 14px;
  font-weight: 600;
}

.rdrDayNumber span {
  font-size: 13px;
}
